{% extends 'myapp/base.html' %}
{% block body_block %}
    <style>
        body{
            text-align: center;
            color: white;
        }
    li{
        list-style-type:none;
    }
    form{
        margin-top: 50px;
    }
    </style>
    <p>{{ course.name }}</p>
    {% if course.for_everyone %}

        <h3>This course is not for everyone!!!</h3>
    {% endif %}

    <form action="/myapp/courses/{{ course_id }}/" method="post">
        {% csrf_token %}

        <tr>
            <th><label for="id_interested_0" style="font-size: xx-large; color: coral">Interested:</label></th>
            <td>
                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <ul id="id_interested">
                    <li><label for="id_interested_0"><input type="radio" name="interested" value="1" required
                                                            id="id_interested_0">
                        Yes</label>

                    </li>
                    <li><label for="id_interested_1"><input type="radio" name="interested" value="0" required
                                                            id="id_interested_1">
                        No</label>

                    </li>
                </ul>
            </td>
        </tr>
        <br>
        <tr>
            <th><label for="id_levels" style="font-size: xx-large; color: coral">Levels:</label></th>
            <td>
                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <input type="number" name="levels" required id="id_levels"></td>
        </tr>
        <br>
          <br>
        <tr>
            <th><label for="id_comments" style="font-size: xx-large; color: coral">Additional Comments:</label></th>
            <br>
            <td><textarea name="comments" cols="40" rows="10" id="id_comments">
</textarea></td>
        </tr>
        <br><br><br>
        <input style="width: 200px; background-color: coral; color: white; border-radius: 20px" type="submit" value="submit">
    </form>
{% endblock %}