{% extends 'myapp/base.html' %}
{% block myhdg %}<h1 style="color: aliceblue; margin-top: 140px">Topic detail page</h1>{% endblock %}
{% block body_block %}

{% for top in topic %}
    <div style="text-align: center">
        <h3 style="color: coral;"> Topic name: </h3>
        <p> {{ top.name }}</p>
    <h3 style="color: coral;"> Topic Category: </h3>
        <p> {{ top.category }}</p>
    </div>

{% endfor %}
<div style="text-align: center; color: aliceblue">
<h3 style="color: coral;"> Courses for current topic: </h3>
<table border="1" align="center">
    <tr style="color: royalblue;">
        <th>Name</th>
        <th>Price</th>
        <th>For Everyone</th>
        <th>Description</th>
    </tr>

    {% for course in cour %}
        <tr>
            <td> {{ course.name }} </td>
            <td> {{ course.price }} </td>
            {% if course.for_everyone %}
                <td> Yes </td>
            {% else %}
                <td> No </td>
            {% endif %}
{#            <td> {{ course.for_everyone }} </td>#}
            <td> {{ course.description }} </td>
        </tr>
    {% endfor %}

</table>
<p style="text-align: center; margin-top: 50px"><a href="{% url 'myapp:index' %}">Index page</a></p>
</div>


{% endblock %}
